.main-container {
    background-color: violet;
    height: 100vh;
    display: grid;
    /* position: relative; */
    justify-content: center;
    align-items: center;
}

.container {
    position: absolute;
    display:inline-flex;
    flex-direction: column;
    margin-left: 20rem;
}

.input input{
    display: flex;
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    border: 0px;
   margin-bottom: 10px;
}

.submit button{
    padding: 15px;
    background-color: rgb(6, 182, 252);
    margin: 10px;
    border: 0px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.generator {
    background-color: palevioletred;
    height: 50vh;
    width: 50vw;
    margin-left: 40rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.greet {
    background-color: thistle;
    height: 40vh;
    width: 40vw;
    margin: 30px;
}

.greet p {
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
}

.name {
   justify-content: center; 
   align-items: center;
   font-size: 40px;
   font-weight: 900;
   padding: 20px;
}

.message {
    margin-top: 0.5rem;
    padding: 20px;
    font-size: 30px;
    font-weight: 800;
}