.main-container {
    position: relative;
    background-color: bisque;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password {
    position: absolute;
    z-index: 10;
    background-color: rgb(155, 174, 214);
    width: 20%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}

.password input, button {
    padding: 10px;
    /* justify-content: center; */
    align-items: center;
    border-radius: 15%;
    border: 0px;

}

.password button {
    background-color: transparent;
    font-size: 20px;
}